# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Docker
*.dockerfile
docker-compose.yml

# Gradio
gradio_static/

# Logs
*.log

# IDE specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Colab files
*.ipynb

# Installed libraries
*.egg
*.egg-info
dist/
build/

# Huggingface
.huggingface/
